body {
  background-image:url(http://img1.imgtn.bdimg.com/it/u=1622962144,3684219181&fm=200&gp=0.jpg);
  background-position:center;
}
h1 {
  color:blue;
  text-align:center;
}
div {
  text-align:center;
  ol-align:center;
}
